<div class="container">
    <div class="row py-5 my-5">
        <div class="col-md-3">
            <img [src]="imagePrfix+tvDetials.poster_path" class="w-100" alt="">
        </div>
        <div class="col-md-9 m-0">
            
            <h2>{{tvDetials.name}} </h2>
            <div class=" d-flex">
                <p class="h6 "> lang: {{tvDetials.original_language}} </p>
                <p class="h6 ms-2">{{tvDetials.vote_average}} /10 </p>
                <p class="h6 ms-2"> Year:{{tvDetials.release_date | date:"yyyy"}} </p>

            </div>
            <p class="h5 lead">{{tvDetials.overview}}</p>
        </div>
    </div>
</div>
